<body class="body">

    <div class="banner">

    </div>
        
    
    <section id="photo"><img src="/assets/img/perfil_foto.png" alt=""  height="300px" >
    
    </section>


 <section id="About">
   
     
    <h1 >Fernando Nieva</h1><br>
        <h1>Full Stack Developer Jr</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod nihil maxime accusamus doloribus architecto ad inventore reprehenderit, dolorum commodi qui.</p>
   

 </section>
   



<section id="Experiences">


   
         <h1>Experiencia:</h1>
        <p>Nulla finibus quam eget ante tincidunt, sit amet fermentum nulla volutpat. Donec sollicitudin est in mauris lacinia ultrices.
             Aliquam sodales ultrices sem non sodales. Sed porttitor vitae ante non ultrices. Vestibulum euismod elementum vehicula.
              Praesent non magna fringilla, consequat elit eu, ornare mauris. Vivamus ornare ut diam non molestie.
               Nam luctus mi velit, non mattis sapien sollicitudin id. Sed ut diam id tortor imperdiet dignissim.
                Mauris eget rutrum diam. In congue pretium placerat. Phasellus erat mauris, commodo vel mollis et, placerat ac nisl.
                 Integer tempor eros ut viverra imperdiet. Suspendisse arcu leo, ultrices ut accumsan a, iaculis vel metus. 
                 Suspendisse ullamcorper turpis a sapien sagittis, convallis interdum nibh pharetra.</p> 
                
               
</section>


<section id="Education">


<h1>Educacion:</h1>
<p>Nulla finibus quam eget ante tincidunt, sit amet fermentum nulla volutpat. Donec sollicitudin est in mauris lacinia ultrices.
     Aliquam sodales ultrices sem non sodales. Sed porttitor vitae ante non ultrices. Vestibulum euismod elementum vehicula.
      Praesent non magna fringilla, consequat elit eu, ornare mauris. Vivamus ornare ut diam non molestie.
       Nam luctus mi velit, non mattis sapien sollicitudin id. Sed ut diam id tortor imperdiet dignissim.
        Mauris eget rutrum diam. In congue pretium placerat. Phasellus erat mauris, commodo vel mollis et, placerat ac nisl.
         Integer tempor eros ut viverra imperdiet. Suspendisse arcu leo, ultrices ut accumsan a, iaculis vel metus. 
         Suspendisse ullamcorper turpis a sapien sagittis, convallis interdum nibh pharetra.</p> 
        
</section>




<section id="Skill" >
        <h1>Hard y soft Skills</h1>
       <p>Nulla finibus quam eget ante tincidunt, sit amet fermentum nulla volutpat. Donec sollicitudin est in mauris lacinia ultrices.
            Aliquam sodales ultrices sem non sodales. Sed porttitor vitae ante non ultrices. Vestibulum euismod elementum vehicula.</p> 
        

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="progress">
                            <div class="progress-bar"role="progress-bar" style="width:45%"></div>
            
                        </div>
                        
                    </div>
                    <br>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="progress">
                            <div class="progress-bar"role="progress-bar" style="width:45%"></div>
            
                        </div>
                    </div>
                    <br>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="progress">
                            <div class="progress-bar"role="progress-bar" style="width:45%"></div>
            
                        </div>
                        
                    </div>
                </div>
                
                
                
            
            
            </div>
</section>



<section id="Proyectos">
<h1>Proyectos:</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis veniam voluptatibus repudiandae aliquid error quod ipsam ratione aut dignissimos sed, porro nemo beatae recusandae.</p>

</section>


</body>
