<header>

    <div class="logo-arg"><img src="/assets/img/APLogo-20-20.png" height="100px"></div>
    <input type="checkbox" id="check">
    <label for="check" class="mostrar-menu">&#8801;</label>

    <nav class="menu">
       
        <a href="https://www.facebook.com/Mr.Phoenix.999"> <li class="facebook"> <img src="/assets/img/bxl-facebook.svg" alt=""  height="30px"></li></a>
        <a href="https://www.instagram.com/mr.phoenix.x/"> <li class="instagram"><img src="/assets/img/bxl-instagram.svg" alt=""height="30px"></li></a>
        <a href="https://www.linkedin.com/in/fernando-nievamx/"><li class="linkedin"><img src="/assets/img/bxl-linkedin.svg" alt=""height="30px"></li></a>      
        <a href=""><li class="login"><img src="/assets/img/bx-log-in.svg" alt=""height="30px"></li></a>

        <label for="check" class="esconder-menu">
            &#215;
        </label>
</nav>

</header>
